In [1]:
import numpy as np 
import pandas as pd 
import datetime
from datetime import datetime
from tqdm import tqdm_notebook as tqdm
import os


from multiprocessing import Pool, TimeoutError, Lock, Value, current_process, cpu_count
from functools import partial
import ALL_STOCK_preprocess_function as func

In [2]:
file_path = 'D:\\Strategic_Trading\\Stock_Crawl\\data\\'
file_list = [file_path + f for f in os.listdir(file_path)]
df_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(func.data_preprocess, file_list), total=len(file_list)), 1):
                df_list.append(x)
                
data = pd.concat(df_list, axis=0)
data['ts'] = pd.to_datetime(data['ts'])
data

HBox(children=(IntProgress(value=0, max=3866), HTML(value='')))

,StockNo,StockName,vol,total,open,high,low,close,ts
0,0001,鴻運,19000.0,147700.0,7.70,7.85,7.70,7.70,2004-02-11
1,0015,富邦,301000.0,1851900.0,6.20,6.20,6.15,6.15,2004-02-11
2,0029,富邦店,365000.0,1796740.0,4.95,4.95,4.89,4.89,2004-02-11
3,0050,元大台灣50,5264000.0,254721750.0,48.50,48.50,48.26,48.37,2004-02-11
4,1101,台泥,44990547.0,875661311.0,19.90,19.90,19.10,19.30,2004-02-11
...,...,...,...,...,...,...,...,...,...
1095,9944,新麗,20069.0,345610.0,17.25,17.25,17.15,17.25,2019-09-20
1096,9945,潤泰新,2752245.0,116365981.0,42.60,42.60,42.10,42.10,2019-09-20
1097,9946,三發地產,1184358.0,27781296.0,23.50,23.60,23.30,23.60,2019-09-20
1098,9955,佳龍,538156.0,10280286.0,18.80,19.20,18.80,19.15,2019-09-20
1099,9958,世紀鋼,1742684.0,132881305.0,76.60,77.00,75.80,75.80,2019-09-20

In [3]:
timedf = pd.DataFrame(data['ts'].unique(), columns=['ts'])
timedf = timedf.sort_values(by='ts')
timedf

             ts
0    2004-02-11
1    2004-02-12
2    2004-02-13
5    2004-02-16
4    2004-02-17
...         ...
3863 2019-09-17
3861 2019-09-18
3862 2019-09-19
3865 2019-09-20
3864 2019-09-23

[3866 rows x 1 columns]

In [4]:
df_list = [group[1] for group in data.groupby(data['StockNo'])]

output_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.FillMissingTime, timedf=timedf), df_list), total=len(df_list)), 1):
                if x[0]:
                    output_list.append(x[1])
                else:    
                    continue
                
df = pd.concat(output_list, axis=0)
df

HBox(children=(IntProgress(value=0, max=1336), HTML(value='')))

C:\Users\011553\AppData\Local\Continuum\anaconda3\envs\tf-gpu\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  del sys.path[0]

,StockName,StockNo,close,high,low,open,return,total,ts,vol
3,元大台灣50,0050,48.37,48.50,48.26,48.50,NaN,254721750.0,2004-02-11,5264000.0
3,元大台灣50,0050,48.59,49.26,48.40,48.50,0.22,396693580.0,2004-02-12,8114000.0
3,元大台灣50,0050,49.46,49.47,48.60,48.61,0.87,301275790.0,2004-02-13,6138000.0
3,元大台灣50,0050,49.20,49.46,49.04,49.46,-0.26,204417200.0,2004-02-16,4154000.0
3,元大台灣50,0050,49.50,49.50,49.16,49.21,0.30,228974460.0,2004-02-17,4645000.0
...,...,...,...,...,...,...,...,...,...,...
3861,慶豐富,9935,34.50,34.80,33.50,33.85,0.75,67434810.0,2019-09-17,1962367.0
3862,慶豐富,9935,34.65,35.20,34.00,34.50,0.15,113411083.0,2019-09-18,3261600.0
3863,慶豐富,9935,34.95,35.20,34.70,34.80,0.30,56019457.0,2019-09-19,1604885.0
3864,慶豐富,9935,34.15,35.45,34.15,35.05,-0.80,71396408.0,2019-09-20,2046476.0
3865,慶豐富,9935,33.60,34.50,33.20,34.15,-0.55,64260442.0,2019-09-23,1906467.0

In [6]:
stock_list = func.GetStockList(df)
stock_list

['1101',
 '1102',
 '1103',
 '1104',
 '1108',
 '1110',
 '1201',
 '1109',
 '1203',
 '1210',
 '1215',
 '1216',
 '1217',
 '1218',
 '1219',
 '1220',
 '1225',
 '1227',
 '1229',
 '1232',
 '1231',
 '1233',
 '1235',
 '1236',
 '1234',
 '1256',
 '1301',
 '1262',
 '1303',
 '1304',
 '1305',
 '1307',
 '1308',
 '1309',
 '1312',
 '1313',
 '1310',
 '1314',
 '1319',
 '1315',
 '1321',
 '1316',
 '1323',
 '1324',
 '1326',
 '1325',
 '1337',
 '1338',
 '1402',
 '1339',
 '1341',
 '1409',
 '1340',
 '1414',
 '1410',
 '1413',
 '1419',
 '1416',
 '1417',
 '1418',
 '1434',
 '1423',
 '1435',
 '1432',
 '1437',
 '1438',
 '1436',
 '1439',
 '1440',
 '1444',
 '1441',
 '1445',
 '1442',
 '1443',
 '1447',
 '1446',
 '1449',
 '1452',
 '1451',
 '1454',
 '1455',
 '1453',
 '1459',
 '1456',
 '1460',
 '1457',
 '1463',
 '1464',
 '1465',
 '1466',
 '1467',
 '1468',
 '1470',
 '1473',
 '1471',
 '1474',
 '1472',
 '1476',
 '1477',
 '1475',
 '1503',
 '1504',
 '1507',
 '1512',
 '1506',
 '1514',
 '1513',
 '1517',
 '1515',
 '1519',
 '1516',
 '1521',
 '1522',
 '1524',
 '1525',
 '1528',
 '1526',
 '1527',
 '1530',
 '1531',
 '1529',
 '1532',
 '1533',
 '1535',
 '1536',
 '1537',
 '1539',
 '1540',
 '1538',
 '1541',
 '1558',
 '1560',
 '1582',
 '1568',
 '1583',
 '1587',
 '1589',
 '1592',
 '1590',
 '1598',
 '1605',
 '1603',
 '1604',
 '1608',
 '1609',
 '1611',
 '1612',
 '1615',
 '1616',
 '1617',
 '1614',
 '1618',
 '1701',
 '1626',
 '1702',
 '1707',
 '1709',
 '1710',
 '1711',
 '1708',
 '1712',
 '1713',
 '1714',
 '1717',
 '1718',
 '1720',
 '1722',
 '1723',
 '1721',
 '1725',
 '1726',
 '1724',
 '1727',
 '1730',
 '1731',
 '1732',
 '1733',
 '1734',
 '1735',
 '1736',
 '1760',
 '1737',
 '1776',
 '1762',
 '1773',
 '1783',
 '1786',
 '1802',
 '1789',
 '1806',
 '1805',
 '1808',
 '1809',
 '1903',
 '1902',
 '1810',
 '1904',
 '1817',
 '1906',
 '1907',
 '1905',
 '1909',
 '2002',
 '2006',
 '2009',
 '2007',
 '2010',
 '2008',
 '2012',
 '2013',
 '2015',
 '2014',
 '2020',
 '2017',
 '2023',
 '2022',
 '2027',
 '2024',
 '2025',
 '2029',
 '2030',
 '2028',
 '2031',
 '2032',
 '2033',
 '2034',
 '2038',
 '2049',
 '2059',
 '2069',
 '2101',
 '2062',
 '2102',
 '2103',
 '2104',
 '2105',
 '2106',
 '2108',
 '2107',
 '2201',
 '2109',
 '2204',
 '2114',
 '2115',
 '2206',
 '2207',
 '2208',
 '2228',
 '2233',
 '2227',
 '2231',
 '2239',
 '2236',
 '2243',
 '2305',
 '2301',
 '2308',
 '2302',
 '2312',
 '2303',
 '2313',
 '2314',
 '2316',
 '2317',
 '2324',
 '2321',
 '2328',
 '2327',
 '2330',
 '2329',
 '2331',
 '2332',
 '2337',
 '2338',
 '2340',
 '2344',
 '2342',
 '2345',
 '2347',
 '2351',
 '2348',
 '2349',
 '2353',
 '2352',
 '2354',
 '2355',
 '2356',
 '2357',
 '2360',
 '2358',
 '2362',
 '2359',
 '2363',
 '2364',
 '2367',
 '2365',
 '2368',
 '2369',
 '2371',
 '2373',
 '2376',
 '2374',
 '2377',
 '2375',
 '2380',
 '2382',
 '2379',
 '2383',
 '2385',
 '2390',
 '2387',
 '2392',
 '2388',
 '2393',
 '2395',
 '2397',
 '2399',
 '2402',
 '2401',
 '2405',
 '2404',
 '2409',
 '2406',
 '2408',
 '2413',
 '2412',
 '2417',
 '2414',
 '2415',
 '2420',
 '2421',
 '2423',
 '2419',
 '2427',
 '2424',
 '2425',
 '2428',
 '2426',
 '2431',
 '2429',
 '2433',
 '2430',
 '2434',
 '2436',
 '2439',
 '2438',
 '2441',
 '2440',
 '2442',
 '2448',
 '2443',
 '2444',
 '2449',
 '2450',
 '2451',
 '2453',
 '2454',
 '2455',
 '2456',
 '2457',
 '2460',
 '2458',
 '2461',
 '2459',
 '2462',
 '2464',
 '2466',
 '2467',
 '2465',
 '2468',
 '2471',
 '2474',
 '2472',
 '2476',
 '2477',
 '2478',
 '2482',
 '2483',
 '2480',
 '2484',
 '2481',
 '2485',
 '2486',
 '2489',
 '2488',
 '2493',
 '2491',
 '2495',
 '2492',
 '2497',
 '2498',
 '2496',
 '2499',
 '2504',
 '2501',
 '2505',
 '2511',
 '2506',
 '2509',
 '2515',
 '2514',
 '2520',
 '2516',
 '2524',
 '2527',
 '2534',
 '2528',
 '2535',
 '2530',
 '2536',
 '2538',
 '2537',
 '2540',
 '2539',
 '2543',
 '2542',
 '2545',
 '2546',
 '2547',
 '2548',
 '2597',
 '2603',
 '2605',
 '2601',
 '2606',
 '2607',
 '2608',
 '2609',
 '2610',
 '2613',
 '2611',
 '2615',
 '2612',
 '2616',
 '2617',
 '2614',
 '2618',
 '2630',
 '2633',
 '2634',
 '2701',
 '2642',
 '2636',
 '2702',
 '2637',
 '2704',
 '2705',
 '2706',
 '2712',
 '2707',
 '2722',
 '2727',
 '2801',
 '2723',
 '2731',
 '2748',
 '2739',
 '2809',
 '2812',
 '2823',
 '2820',
 '2832',
 '2816',
 '2836',
 '2834',
 '2841',
 '2838',
 '2845',
 '2850',
 '2851',
 '2852',
 '2849',
 '2855',
 '2880',
 '2881',
 '2867',
 '2882',
 '2883',
 '2884',
 '2885',
 '2886',
 '2888',
 '2887',
 '2889',
 '2890',
 '2891',
 '2892',
 '2901',
 '2897',
 '2903',
 '2905',
 '2904',
 '2908',
 '2910',
 '2906',
 '2911',
 '2912',
 '2913',
 '2915',
 '2923',
 '2936',
 '2929',
 '3002',
 '2939',
 '3003',
 '3005',
 '3006',
 '3004',
 '3008',
 '3010',
 '3011',
 '3013',
 '3016',
 '3014',
 '3017',
 '3015',
 '3019',
 '3018',
 '3023',
 '3021',
 '3024',
 '3022',
 '3025',
 '3027',
 '3028',
 '3026',
 '3029',
 '3030',
 '3031',
 '3032',
 '3033',
 '3034',
 '3036',
 '3037',
 '3035',
 '3038',
 '3041',
 '3042',
 '3040',
 '3043',
 '3044',
 '3045',
 '3047',
 '3048',
 '3046',
 '3049',
 '3052',
 '3050',
 '3051',
 '3054',
 '3057',
 '3055',
 '3058',
 '3056',
 '3059',
 '3062',
 '3060',
 '3090',
 '3094',
 '3130',
 '3149',
 '3167',
 '3164',
 '3209',
 '3189',
 '3231',
 '3229',
 '3257',
 '3266',
 '3296',
 '3305',
 '3308',
 '3312',
 '3311',
 '3321',
 '3338',
 '3346',
 '3356',
 '3376',
 '3406',
 '3380',
 '3383',
 '3413',
 '3416',
 '3437',
 '3419',
 '3432',
 '3443',
 '3454',
 '3450',
 '3481',
 '3494',
 '3501',
 '3515',
 '3504',
 '3518',
 '3528',
 '3530',
 '3533',
 '3532',
 '3535',
 '3536',
 '3557',
 '3545',
 '3550',
 '3563',
 '3576',
 '3583',
 '3588',
 '3591',
 '3593',
 '3596',
 '3617',
 '3605',
 '3607',
 '3622',
 '3653',
 '3645',
 '3661',
 '3669',
 '3665',
 '3679',
 '3673',
 '3682',
 '3686',
 '3694',
 '3698',
 '3701',
 '3702',
 '3703',
 '3704',
 '3706',
 '3705',
 '3708',
 '3711',
 '3712',
 '4104',
 '4108',
 '4119',
 '4106',
 '4133',
 '4137',
 '4144',
 '4141',
 '4148',
 '4142',
 '4164',
 '4155',
 '4190',
 '4306',
 '4438',
 '4526',
 '4426',
 '4414',
 '4532',
 '4540',
 '4536',
 '4551',
 '4545',
 '4555',
 '4552',
 '4560',
 '4557',
 '4564',
 '4571',
 '4562',
 '4566',
 '4572',
 '4576',
 '4720',
 '4722',
 '4725',
 '4737',
 '4739',
 '4746',
 '4755',
 '4763',
 '4764',
 '4906',
 '4766',
 '4807',
 '4904',
 '4912',
 '4915',
 '4916',
 '4927',
 '4919',
 '4930',
 '4935',
 '4934',
 '4938',
 '4942',
 '4943',
 '4952',
 '4956',
 '4958',
 '4967',
 '4961',
 '4960',
 '4968',
 '4976',
 '4977',
 '4989',
 '4994',
 '4999',
 '5007',
 '5215',
 '5203',
 '5225',
 '5258',
 '5234',
 '5243',
 '5259',
 '5269',
 '5264',
 '5283',
 '5285',
 '5284',
 '5288',
 '5434',
 '5388',
 '5469',
 '5305',
 '5471',
 '5515',
 '5484',
 '5519',
 '5521',
 '5522',
 '5525',
 '5531',
 '5533',
 '5538',
 '5534',
 '5607',
 '5706',
 '5871',
 '5608',
 '5876',
 '5880',
 '5906',
 '5907',
 '6005',
 '6024',
 '6108',
 '6117',
 '6115',
 '6112',
 '6128',
 '6116',
 '6120',
 '6133',
 '6131',
 '6139',
 '6141',
 '6142',
 '6153',
 '6164',
 '6155',
 '6152',
 '6168',
 '6165',
 '6166',
 '6172',
 '6177',
 '6176',
 '6183',
 '6184',
 '6136',
 '6189',
 '6191',
 '6192',
 '6196',
 '6197',
 '6201',
 '6202',
 '6205',
 '6209',
 '6206',
 '6213',
 '6215',
 '6214',
 '6224',
 '6216',
 '6225',
 '6226',
 '6230',
 '6235',
 '6239',
 '6243',
 '6251',
 '6257',
 '6269',
 '6277',
 '6271',
 '6282',
 '6278',
 '6285',
 '6281',
 '6283',
 '6288',
 '6289',
 '6405',
 '6409',
 '6412',
 '6414',
 '6415',
 '6416',
 '6431',
 '6443',
 '6442',
 '6449',
 '6451',
 '6452',
 '6464',
 '6505',
 '6456',
 '6477',
 '6504',
 '6525',
 '6533',
 '6531',
 '6552',
 '6541',
 '6558',
 '6573',
 '6579',
 '6581',
 '6582',
 '6591',
 '6625',
 '6641',
 '6605',
 '6655',
 '6666',
 '6668',
 '6669',
 '6670',
 '6672',
 '6671',
 '6674',
 '8016',
 '8011',
 '8021',
 '8028',
 '8039',
 '8033',
 '8046',
 '8070',
 '8081',
 '8072',
 '8101',
 '8104',
 '8103',
 '8110',
 '8105',
 '8112',
 '8114',
 '8131',
 '8150',
 '8163',
 '8201',
 '8210',
 '8213',
 '8215',
 '8222',
 '8249',
 '8341',
 '8261',
 '8271',
 '8367',
 '8374',
 '8404',
 '8411',
 '8422',
 '8427',
 '8429',
 '8442',
 '8443',
 '8462',
 '8454',
 '8463',
 '8464',
 '8466',
 '8467',
 '8473',
 '8478',
 '8480',
 '8481',
 '8482',
 '8488',
 '8926',
 '8497',
 '8499',
 '8940',
 '8996',
 '9105',
 '9103',
 '9110',
 '9136',
 '9157',
 '9188',
 '9802',
 '9904',
 '9905',
 '9902',
 '9907',
 '9908',
 '9906',
 '9910',
 '9914',
 '9911',
 '9917',
 '9912',
 '9918',
 '9919',
 '9921',
 '9924',
 '9925',
 '9926',
 '9927',
 '9930',
 '9928',
 '9931',
 '9929',
 '9933',
 '9934',
 '9937',
 '9938',
 '9939',
 '9940',
 '9941',
 '9942',
 '9944',
 '9943',
 '9945',
 '9946',
 '9955',
 '9958',
 '9935']

In [7]:
df_stock = df[df.StockNo.isin(stock_list)]
df_stock

,StockName,StockNo,close,high,low,open,return,total,ts,vol
4,台泥,1101,19.30,19.90,19.10,19.90,NaN,8.756613e+08,2004-02-11,44990547.0
4,台泥,1101,18.70,19.60,18.40,19.40,-0.60,7.295642e+08,2004-02-12,38283630.0
4,台泥,1101,20.00,20.00,18.90,19.00,1.30,1.200960e+09,2004-02-13,60809947.0
4,台泥,1101,21.00,21.40,20.00,20.00,1.00,3.204683e+09,2004-02-16,154068407.0
4,台泥,1101,21.00,21.30,20.40,21.00,0.00,1.477319e+09,2004-02-17,70709589.0
...,...,...,...,...,...,...,...,...,...,...
3861,慶豐富,9935,34.50,34.80,33.50,33.85,0.75,6.743481e+07,2019-09-17,1962367.0
3862,慶豐富,9935,34.65,35.20,34.00,34.50,0.15,1.134111e+08,2019-09-18,3261600.0
3863,慶豐富,9935,34.95,35.20,34.70,34.80,0.30,5.601946e+07,2019-09-19,1604885.0
3864,慶豐富,9935,34.15,35.45,34.15,35.05,-0.80,7.139641e+07,2019-09-20,2046476.0
3865,慶豐富,9935,33.60,34.50,33.20,34.15,-0.55,6.426044e+07,2019-09-23,1906467.0

In [8]:
df.to_csv('D:\\Strategic_Trading\\PriceForecast\\data\\Stock\\TWSE_ALL_preserve.csv', index=False)

In [9]:
df_stock.to_csv('D:\\Strategic_Trading\\PriceForecast\\data\\Stock\\TWSE_Stock.csv', index=False)